body {
  margin: 0;
  padding: 0;
  font-family: Lucida Grande, Arial, sans-serif;
}

button,
input {
  outline: none;
}
#tab-bar {
  position: relative;
  height: 28px;
  width: 100%;
}

#tabs {
  margin: 0;
  padding: 0 0 0 0;
  width: calc(100% - 28px);
  height: 100%;
  float: left;
  background : #cccccc;
  display: table-cell;
}

#add-tab {
  height: 100%;
  width: 28px;
  float: right;
  background-image: url("../svg/add_tab.svg");
  border: 0;
}
#add-tab:hover {background-image: url("../svg/add_tab.svg");}
#add-tab:hover:active {background-image: url("../svg/add_tab.svg");}
#add-tab:disabled {
  background-image: none;
  background: #cccccc;
}

/*button.tab {
  height: 20px;
  margin-top: 5px;
  margin-right: 4px;
  border-radius: 4px;
  width: 15%;
  color: black;
  background: -webkit-linear-gradient(bottom, #cccccc 0%, #f2f2f2 99%);
  overflow: hidden;
  text-overflow: ellipsis;
}*/

#controls {
  padding: 0px;
  padding-left: 75px;
  background-color: #e4e3e5;
  -webkit-app-region: drag;
  display: -webkit-flex;
  -webit-flex-direction: column;
  height: 41px;
  background-image: url("../svg/controls.svg");
}

#controls.fullscreen {
  padding-left: 15px;
}

#controls * {
  -webkit-app-region: no-drag;
}
#controls .navigation {
  width: 24px;
  height: 24px;
  padding: 0px;
  transform: translateY(7px);
  background-color: transparent;
}

#controls input {
  font-size: 14px;
  line-height: 24px;
  border-radius: 10px;
  padding-left: 6px;
  padding-right: 30px;
}
#back:enabled {background-image: url("../svg/back.svg");}
#back:disabled {background-image: url("../svg/back_disabled.svg");}
#back:hover:enabled{background-image: url("../svg/back_hover.svg")}
#back:active:hover:enabled {background-image: url("../svg/back_active.svg")}

#forward:enabled {background-image: url("../svg/forward.svg");}
#forward:disabled {background-image: url("../svg/forward_disabled.svg");}
#forward:hover:enabled {background-image: url("../svg/forward_hover.svg");}
#forward:active:hover:enabled {background-image: url("../svg/forward_active.svg");}


#home {background-image: url("../svg/home.svg");}
#home:hover:enabled {background-image: url("../svg/home_hover.svg");}
#home:active {background-image: url("../svg/home_active.svg");}

.reload {
  width: 24px;
  height: 24px;
  padding: 0px;
  position: absolute;
  right: 5px;
  top: 1px;
  background-image: url("../svg/reload_loading.svg");
  background-color: white;
  border-radius: 10px;
}
#location.location-loaded + .reload {
  background-image: url("../svg/reload.svg");
}

#dock {
  position: absolute;
  height: 41px;
  right: 0;
  top: 0;
  width: 55px;
  background-image: url("../svg/vertical_bar.svg");
  background-repeat: no-repeat;
}

#dock .dock {
  position: absolute;
  width: 16px;
  height: 16px;
  background-color: transparent;
  border: 0;
}
#users {
  top: 4px;
  left: 10px;
  background-image: url("../svg/hamburger.svg");
}
#settings {
  top: 21px;
  left: 10px;
  background-image: url("../svg/gear.svg");
}


#controls button,
input[type="submit"] {
  border: solid 0px transparent;
}

input[type="submit"]:hover {
  border-color: #ccc;
  background: -webkit-linear-gradient(bottom, #cccccc 0%, #f2f2f2 99%);
}

input[type="submit"]:active {
  border-color: #bbb;
  background: -webkit-linear-gradient(bottom, #e2e2e2 0%, #bbbbbb 99%);
}

/*.draggable {
  width: 15%;
  height: 26px;
  -webkit-app-region: drag;
}*/

/* These glyphs are on the small side, make them look more natural when
compared to the back/forward buttons */
#controls #home,
#controls #terminate {
  font-size: 24px;
}

/*#controls #reload {
  font-size: 20px;
  width: 35px;
}*/

#controls #zoom,
#controls #find {
  font-size: 18px;
}

#location {
  border: solid 1px #ccc;
  padding: 2px;
  width: 100%;
  -webkit-box-sizing: border-box;
}

#controls #location-form {
  /*-webkit-flex: 1;
  display: -webkit-flex;*/
  -webit-flex-direction: column;
  padding-top: 7px;
  padding-bottom: 7px;
  width: 55%;
  margin: 0 auto;
}

#controls #center-column {
  -webkit-flex: 1;
  position: relative;
}

#zoom-box,
#find-box {
  background-color: #eee;
  border: solid 1px #ccc;
  border-top: solid 1px #eee;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  padding: 2px;

  position: fixed;
  top: 36px;
  height: 25px;

  display: none;
}

#zoom-box #zoom-form,
#find-box #find-form {
  -webkit-flex: 1;
  display: -webkit-flex;
  -webit-flex-direction: row;
}

#zoom-box input,
#zoom-box button,
#find-box button {
  border-radius: 2px;
}

#zoom-box #zoom-text,
#find-box #find-text {
  border: solid 1px #ccc;
  margin-right: 0px;
  padding: 2px;
  -webkit-box-sizing: border-box;
  -webkit-flex: 1;
}

#zoom-box {
  left: 5px;
  width: 125px;
  z-index: 1;
}

#zoom-box input[type="submit"] {
  font-size: 14px;
  margin: 2px 0px;
  padding: 0 2px 3px 2px;
  width: 22px;
}

#zoom-box button {
  font-size: 12px;
  margin: 2px 0px;
  padding: 0px 1px 0px 0px;
  width: 20px;
}

#find-box {
  right: 5px;
  width: 280px;
  z-index: 2;
}

#find-box #find-text {
  border-right-style: none;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}

#find-box #find-results {
  color: #888;
  background-color: #fff;
  border: solid 1px #ccc;
  border-left-style: none;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  margin: 2px 0px;
  padding: 3px 4px 2px 0;
  text-align: center;
}

#find-box #match-case {
  margin: 2px 0px;
  font-size: 10px;
  width: 28px;
}

#find-box #find-backward,
#find-box #find-forward {
  font-size: 14px;
  width: 24px;
}

#sad-webview,
webview {
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
