body {
  margin: 0;
  margin-left: 1cm;
  margin-top: 1cm;
  padding: 0;
  font-family: Lucida Grande, Arial, sans-serif, Helvetica;
  cursor: default; 
}
#user-settings {
  float: right;
  width: calc(100% - 250px);
  height: 100%;
  padding: 10px;
}
#navbar {
  float: left;
  width: 100px;
  height: 100%;
  padding: 10px;
}
#username {
  color: #8B8A91;
  font: facit;
  font-weight: bold;
  font-size: 16;
}
.page-title {
  font: Helvetica; 
  font-weight: bold;
  color: #59575D;
  font-size: 12pt;
}

.current-homepage {
  font: Helvetica;
  font-variant: nueve;
  color: #59575D;
  font-size: 11pt; 
}
#dymo-status {
  height: 16px;
  width: 16px;
  position: relative;
  right: -312px;
  top: -18px;
  border: 0;
}

#device {
  position: relative;
  top: 15px;
}

#status {
  position: relative;
  right: -300px;
  top: -37px;
}

#version {
  position: relative;
  top: -55px;
  right: -450px;
}

#Dymo {
  position: relative;
  top: 20px;
  font-weight: normal;
  font-size: 11pt;
}
#user-nav {
  position: relative;
  top: 0px;
}
#device-nav {
  position: relative;
  top: 15px;
}
#administrator-nav {
  position: relative;
  top: 30px;
}
#dymo-version {
  position: relative;
  top: -32px;
  right: -495px;
}

/* 12pt font, Helvetica Bold, #59575D */