.tabs {
  *zoom: 1;
  position: relative;
}

.tabs * {
  -webkit-user-select: none;
  cursor: default;
  font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
  font-size: 11px;
  line-height: 13px;
  transition : background 200ms;
}