.tabs {
  *zoom: 1;
  position: relative;
}

.tabs * {
  -webkit-user-select: none;
  cursor: default;
  font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
  font-size: 11px;
  line-height: 13px;
  transition : background 200ms;
}

.tabs .ui-state-default {
  float: left;
  position: relative;
  height: 28px;
  border: 0px;
  margin: 0px;
  z-index: 1;
  background : url("../svg/tab.svg");
	border-style : Solid;
	border-color : #7F7F7F;
	border-color : rgba(127, 127, 127, 1);
	border-width : 0px;
  }

.tabs .tab.tab-current {
  z-index: 5;
}

.tabs .tab.tab-current {
  background : url("../svg/tab_active.svg");
}

.tabs .ui-state-default .tab-favicon {
  height: 16px;
  width: 16px;
  background-size: 16px;
  position: absolute;
  left: 9px;
  top: 5px;
  z-index: 3;
}

.tabs .ui-state-default .tab-title {
  color: #222222;
  padding: 5px 30px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.tab-close {
  position: absolute;
  top: 7px;
  right: 7px;
  width: 14px;
  height: 14px;
  z-index: 999;
  background-image: url("../svg/close.svg");
}
.tab-close:enabled{
  background-image: url("../svg/close.svg");
}
.tab-close:hover {
  background-image: url("../svg/close_hover.svg");
}
.tab-close:active:hover {
  background-image: url("../svg/close_active.svg");
}


/*.tabs .ui-state-default .tab-close {
  position: absolute;
  top: 6px;
  right: 7px;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  z-index: 2;
}

.tabs .ui-state-default .tab-close:before {
  content: "\00D7";
  position: absolute;
  top: 0px;
  right: 0px;
  height: 14px;
  width: 14px;
  border-radius: 50%;
  text-align: center;
  font-size: 11px;
  line-height: 12px;
  color: #777777;
  text-shadow: 0 1px rgba(255, 255, 255, 0.3);
}
.tabs .ui-state-default .tab-close:hover:before, .tabs .ui-state-default .tab-close:active:before {
  color: white;
  text-shadow: 0 1px #b9554c;
}
.tabs .ui-state-default .tab-close:hover, .tabs .ui-state-default .tab-close:active {
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1), inset 0 1px 2px #b9554c;
  background: #dd837b;
}
.tabs .ui-state-default .tab-close:active:before {
  box-shadow: inset 0 0 0 1px #b9554c, inset 0 1px 3px #b9554c, inset 0 0 20px rgba(0, 0, 0, 0.1);
}*/
